*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #parent{
    /* height: 100vh;    
} */
#container{

    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}
#taskdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}